combined_docs_feinstein.json
world-readable-document-type-with-pdf.csv
file_list.csv
extract_log.txt
downloads/*
purl_data/*
extracted_texts/*
embeddings.jsonl
chunks.parquet
embeddings.parquet
solr_documents/*
solr_data/*
